{% extends "base.html" %}

{% block content %}
<h1>Notes</h1>

<div class="flex flex-wrap">
    <div class="w-33 pa3">
        <h2>{{ contact.name }}</h2>

        <form action="{% url 'notes' pk=contact.pk %}" method="POST">
            {% csrf_token %}
            {{ new_note.as_p }}
        </form>

        <p>
            <a href="{% url 'edit_contact' pk=contact.pk %}">Edit Contact</a><br>
            <a class="red" href="{% url 'delete_contact' pk=contact.pk %}">Delete Contact</a>
        </p>
    </div>
</div>
{% endblock %}